
.image-container {
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.passive-information {
    text-align: center;
}

.image-downvote {
    fill: #d23c22;
    stroke: #d23c22;
    color: #d23c22;
}
.row {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.block {
    margin-left: 5px;
    margin-top: auto;
}
.wrapper {
    overflow: hidden;
    width:fit-content;
}
.element {
    float: left;
    margin-left: 10px;
}

::ng-deep .mat-dialog-container { 
    background: rgb(243, 220, 209)!important;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }