h2 {
    color: white;
}

mat-label {
    color: white
}

p {
    color: white;
}

input {
    color: white;
}

#templates img {
    cursor: pointer;
}
.wrapper {
    width: 60%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    color: #fff;
    text-align: center;
}
