h2 {
    color: white;
}

mat-label {
    color: white
}

p {
    color: white;
}

input {
    color: white;
}

#templates img {
    cursor: pointer;
    background-color: white;
}

.wrapper {
    width: 80%;
    background-color: #232323;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    color: #fff;
    text-align: center;
}
.whiteRadioButton {
    border-color: #fff;
}

.mat-chip.mat-standard-chip {
	background-color: #ff4081;
	color: rgba(255,255,255,.87);
}
.chip-list {
    width: 100%;
}
::placeholder {
    color: #fff;
}
mat-checkbox {
    color: white;
    margin-right: 10px;
}
