<div style="padding: 10px;" class="wrapper center" *ngIf="isLoggedIn;else notLoggedIn">
    <h2>Meme Generator
        <button mat-icon-button 
            matTooltip="Active voice control. Example: Say 'Select title' and wait for comfirmation. Then say 'Begin Title', wait for confirmation and say your text. When your ready say 'Stop'"
            color="warn" aria-label="Record title" (click)="activateVoiceControl()">
            <mat-icon>record_voice_over</mat-icon>
        </button>
    </h2>
    <form name="generateMemeForm" [formGroup]="memeForm">
        <input matInput formControlName="_id" hidden>
        <input matInput formControlName="voiceAssistant" [(ngModel)]="text" [waTextToSpeech]="text | waUtterance: options" [waTextToSpeechPaused]="paused" (waTextToSpeechEnd)="onEnd()" hidden>        
        <div fxLayout="row" fxLayoutAlign="start start">
            <button (click)="loadTemplates()" mat-raised-button color="secondary" matTooltip="Voice Control: 'Select Templates' then 'next template' or 'previous template' to select your template">
                Uploaded templates
            </button>
        </div>
        <p>or</p>
        <div fxLayout="row" fxLayoutAlign="start start">
            <button (click)="imgFlipAPITemplates()" mat-raised-button color="secondary" matTooltip="Voice Control: 'Select image flip' then 'next template' or 'previous template' to select your template">
                IMGFlip templates
            </button>
        </div>
        <br/>
        <div *ngIf="templates && (showImgFlipTemplates || showUploadedTemplates)" id="templates">
            <img *ngFor="let template of templates" src="{{template}}" alt="template"
                 width="90" height="90" (click)="selectTemplate(template)"/>
        </div>
        <p>or</p>
        <div fxLayout="row" fxLayoutAlign="start start">
            <button (click)="hiddenFileInput.click()" mat-raised-button color="secondary">
                Upload image
            </button>
            <input
                #hiddenFileInput
                formControlName="file"
                id="file"
                type="file"
                class="form-control"
                style="display: none"
                (change)="onFileChange($event)">
            <input
                #hiddenFileInput
                formControlName="template"
                id="template"
                type="template"
                class="form-control"
                style="display: none">
        </div>
        <br/>
        <p>or</p>
        <div fxLayout="row" fxLayoutAlign="start start">
            <button class="actionBtn" (click)="toggleWebcam();" mat-raised-button color="secondary" matTooltip="Voice Control: 'Use webcam' then 'Take snapshot' to make a selfie"> 
                Webcam
            </button>
        </div>
        <br/>
        <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam">
        </webcam>
        <button class="actionBtn" mat-raised-button color="secondary" (click)="triggerSnapshot();" *ngIf="showWebcam" >
            Take A Snapshot 
        </button>
        <p>or</p>
        <div fxLayout="row" fxLayoutAlign="start start">
            <button class="actionBtn" (click)="toggleScreenshot();" mat-raised-button color="secondary"> 
                Take Screenshot from URL
            </button>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <input class="wrapper" [(ngModel)]="screenhotURL" *ngIf="showScreenshot" [ngModelOptions]="{standalone: true}">
            </div>
            <button class="actionBtn" (click)="takeScreenshot();" mat-raised-button color="secondary"  *ngIf="showScreenshot"> 
                Capture
            </button>
        </div>
        <br/>
        <p>or</p>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Image URL</mat-label>
                <input matInput formControlName="imgUrl" >
            </mat-form-field>
        </div>
        <div fxLayout="row" style="margin-top: 10px">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-error>Title is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" required>
                <mat-error>Description is required!</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Top text</mat-label>
                <input matInput formControlName="topText" required>
                <mat-error>Top text is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Top x</mat-label>
                <input matInput formControlName="topX">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Top y</mat-label>
                <input matInput formControlName="topY">
            </mat-form-field>
            <mat-checkbox formControlName="topBold">Bold</mat-checkbox>
            <mat-checkbox formControlName="topItalic">Italic</mat-checkbox>

            <mat-form-field color="white">
                <mat-label>Font size</mat-label>
                <input formControlName="topSize" matInput type="number" min="10">
            </mat-form-field>

            <input
                [value]="memeForm.get('topColor').value"
                [colorPicker]="memeForm.get('topColor').value"
                (colorPickerChange)="memeForm.get('topColor').setValue($event)"
                [style.background]="memeForm.get('topColor').value"
                class="colorPicker"
                formControlName="topColor">
        </div>

        <div fxLayout="row">
            <mat-form-field>
                <mat-label>Bottom text</mat-label>
                <input matInput formControlName="bottomText">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bottom x</mat-label>
                <input matInput formControlName="bottomX">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bottom y</mat-label>
                <input matInput formControlName="bottomY">
            </mat-form-field>
            <mat-radio-group formControlName="visibility">
                <mat-radio-button value="public" style="color: #fff;" [checked]="true">Public</mat-radio-button>
                <mat-radio-button color="warn" value="unlisted" style="color: #fff; margin-left: 10px;">Unlisted</mat-radio-button>
                <mat-radio-button value="private"  style="color: #fff; margin-left: 10px;">Private</mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row">
            <mat-form-field class="chip-list">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection">
                <mat-chip *ngFor="let tag of tags" color="accent" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New tag..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" style="color: #fff;">
                </mat-chip-list>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-checkbox formControlName="bottomBold">Bold</mat-checkbox>
            <mat-checkbox formControlName="bottomItalic">Italic</mat-checkbox>

            <mat-form-field color="white">
                <mat-label>Font size</mat-label>
                <input formControlName="bottomSize" matInput type="number" min="10">
            </mat-form-field>

            <input
                [value]="memeForm.get('bottomColor').value"
                [colorPicker]="memeForm.get('bottomColor').value"
                (colorPickerChange)="memeForm.get('bottomColor').setValue($event)"
                [style.background]="memeForm.get('bottomColor').value"

                class="colorPicker"
                formControlName="bottomColor">
        </div>
        <img *ngIf="meme" src="{{meme.url}}" alt="{{meme.title}}"  (click) = "openDialog()" />
        <div fxLayout="row" style="margin-top: 10px">
            <button mat-raised-button color="primary" (click)="openDialog()" *ngIf="meme">
                View/edit template
            </button>
        </div>
        <div fxLayout="row" style="margin-top: 10px">
            <button mat-raised-button color="accent" (click)="discardMeme()" matTooltip="Voice Control: 'Delete Draft'">
                Delete Draft
            </button>
            <button mat-raised-button color="primary" (click)="saveDraft()" matTooltip="Voice Control: 'Save Draft'">
                Save Draft
            </button>
            <button mat-raised-button color="primary" (click)="finishMeme()" matTooltip="Voice Control: 'Finish Meme'">
                Finish Meme
            </button>
        </div>
    </form>
</div>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<ng-template #notLoggedIn>
    <div class="wrapper center">
        <h3 class="text">Please sign in or create a account to create a meme!</h3>
    </div>
</ng-template>
