h2 {
    color: white;
}

mat-label {
    color: white
}

p {
    color: white;
}

input {
    color: white;
}

#templates img {
    cursor: pointer;
}

mat-checkbox {
    color: white;
    margin-right: 10px;
}
