<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" routerLink="/" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/memes">All Memes</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/">Nav 2</a>
        <a class="py-2 d-none d-md-inline-block" routerLink="/">Nav 3</a>
    </nav>
</header>
<div style="padding: 10px; width: 600px;">
    <h2>Meme Generator</h2>
    <form name="generateMemeForm" [formGroup]="memeForm">
        <input matInput formControlName="_id" hidden>
        <div fxLayout="row" fxLayoutAlign="start start">
            <button (click)="hiddenFileInput.click()" mat-raised-button type="button" color="accent"
                    class="text-uppercase" class="btn btn-primary">
                Upload image
            </button>
            <input
                #hiddenFileInput
                formControlName="file"
                id="file"
                type="file"
                class="form-control"
                style="display: none"
                (change)="onFileChange($event)">
        </div>
        <div fxLayout="row" style="margin-top: 10px">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-error>Title is required!</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Top text</mat-label>
                <input matInput formControlName="topText" required>
                <mat-error>Top text is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Top x</mat-label>
                <input matInput formControlName="topX" required>
                <mat-error>Top x is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Top y</mat-label>
                <input matInput formControlName="topY" required>
                <mat-error>Top y is required!</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field>
                <mat-label>Bottom text</mat-label>
                <input matInput formControlName="bottomText">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bottom x</mat-label>
                <input matInput formControlName="bottomX">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bottom y</mat-label>
                <input matInput formControlName="bottomY">
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <button mat-button color="primary" (click)="generateMeme()"  class="btn btn-primary">
                Generate
            </button>
        </div>
    </form>
</div>
