<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [showGridLines] = "showGridLines"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-line-chart>

<div class='parent'>

  <div class='child inline-block-child'> 
    <ngx-charts-pie-chart
      [view]="pieView"
      [scheme]="pieColorScheme"
      [results]="viewsSingle"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      [roundDomains]="roundDomains"     
      (select)="onSelectPie($event)">
    </ngx-charts-pie-chart>
  </div>

  <div class='child inline-block-child'> 

    <ngx-charts-pie-chart
      [view]="pieView"
      [scheme]="pieColorScheme2"
      [results]="votesSingle"
      [legend]="showLegend"
      [legendPosition]="legendPosition"
      [labels]="showLabels"
      (select)="onSelectPie($event)">
    </ngx-charts-pie-chart>
  </div>
</div>

